<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>ADHD</title>-->
<!--  </head>-->
  
<!--  <body>-->
<!--    <h3> ADHD</h3>-->
<!--   <p>"How do I get my child to focus in school without medicine?"</p>-->
  
<!--  </body>-->
<!--</html>-->
<!--#this is asking the first question I want to appear on the screen (may change later)-->
